*,
*::after,
*::before
{                 /*  CSS reset   */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: rgb(11, 14, 17);
    color: rgb(202, 198, 193);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2{
    margin-bottom: 2.5rem;
}

button, select{
    color: rgb(11, 14, 17);
    background-color: rgb(202, 198, 193);
    border: none;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    transition: transform 50ms;
    cursor: pointer;
}
label{
    margin-right: 2rem;
}

button:disabled{
    opacity: .4;
}

button:active,
select:active{
    transform: translateY(1px);
}

.container-main{
    border: 1px solid rgb(202, 198, 193);
    max-width: 120rem;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
}

li{
    list-style: none;
    margin-bottom: 1rem;
}

.resultsContainer{
    /* border: 1px solid pink; */
    width: 40rem;
    height: 60rem;
    margin-left: 3rem;
    padding: 2rem;
    z-index: 1000;
}

.animationDisplay{
    height: 40rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.opponent-1{
    width: 35%;
    height: 100%;
    position: absolute;
}

.opponent-2{
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
}

.opponent-1-img,
.opponent-2-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.opponent-2-img{
    transform: scaleX(-1);
}

.slideInRight{
    animation: slideInRight 1s linear;
}

@keyframes slideInRight {
    0% {
        transform: translateX(0rem);
    }
    50% {
        transform: translateX(15rem) rotate(180deg);
    }

    100%{
        transform: translateX(0rem) rotate(360deg);
    }
}

.slideInLeft{
    animation: slideInLeft 1s linear;
}

@keyframes slideInLeft {
    0%{
        transform: translateX(0) scaleX(-1) rotate(0);
    }
    50%{
        transform: translateX(-15rem) scaleX(-1) rotate(180deg);
    }
    100%{
        transform: translateX(0) scaleX(-1) rotate(360deg);
    }
}